

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #151b29;
    font-family: 'Open Sans', sans-serif;
    color: #fdfcdc;
    background-image: url(./bg/globe.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

/* NAVBAR BG */
#navbar {
    background-color: #151b29;
    
}


.navbar-brand {
    color: #fdfcdc !important;
    border: 2px solid;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 20%;
    font-style: italic;
    background: none;
    font-size: 30px;
    transition: color 0.25, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.navbar-brand:hover {
    color: #ccd5ae;
    /* background-color: #22223b; */
    font-weight: 700;
    /* box-shadow: 0 0.5em 0.5em -0.4em green; */
    /* transform: translateY(-0.2em); */
    
}

.navbar-toggler {
    background-color: #001d3d;
    border: 1px solid;
    border-color: #ccd5ae !important;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.navbar-toggler:hover {
    background-color: #22223b;
    box-shadow: 0 0.5em 0.5em -0.4em #76c893;
    transform: translateY(-0.2em);
}


.nav-link {
    color: #fdfcdc !important;
} 

.active {
    font-weight: 700;
    box-shadow: 0 0.5em 0.5em -0.4em #fdfcdc;
    transform: translateY(-0.2em);
}

.nav-item > .nav-link:hover {
    font-weight: 700;
    box-shadow: 0 0.5em 0.5em -0.4em #76c893;
    transform: translateY(-0.2em);
   
} 

html {
	scroll-behavior: smooth;	
}

#landingContent {
    margin-top: 10em;
    width: 80%;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(0,0,0,.60);
    height: 90vh;
    
    
}

footer {
    background-color: #151b29;
    border-top: 1px solid;
    border-color: #ccd5ae;
}

nav {
    border-bottom: 1px solid;
    border-color: #ccd5ae;
}

#jumboTools {
    background-color: rgba(0,0,0,.60);
}

/* #jumboOther {
    background-color: rgba(0,0,0,.60);
} */


#coreTools {
    height: 50vh;
}

#otherTools {
    height: 80vh;
    margin-bottom: 14rem;
}

/* about me */

#salmanPic {
    height: 300px;
    width: 300px;
    transition: color 0.25, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

#salmanPic:hover {
    box-shadow: 0 0.6em 0.6em -0.5em #76c893;
    transform: translateY(-0.4em);
}


#aboutMe {
    margin-top: 10em;
    width: 80%;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(0,0,0,.60);
    height: 110vh;
    margin-bottom: 2em;
}

.aboutMessage {
    font-size: large;
}

#jumboProj {
    background-color: rgba(0,0,0,.60);
}

#myProjects {
    margin-bottom: 0;
}

#abc:hover {
    box-shadow: 0 0.6em 0.6em -0.5em #76c893;
    transform: translateY(-0.4em);
}

#xyz:hover {
    box-shadow: 0 0.6em 0.6em -0.5em #76c893;
    transform: translateY(-0.4em);
}

/* Gallery */

#galleryText {
    margin-top: 100px;
}

#moreGallery {
    margin-bottom: 0;
}

#jumboGal {
    background-color: rgba(0,0,0,.60);
}

/* Contact */

#contactForm {
    margin-top: 10rem;
}

#codeWithSal:hover {
    box-shadow: 0 0.6em 0.6em -0.5em #76c893;
    transform: translateY(-0.4em);
}

#jumboContact {
    background-color: rgba(0,0,0,.60);
}